<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.connectfour">
    <supports-screens

        android:largeScreens="false"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Board.VsAIGameBoard"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".SettingsActivities.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SettingsActivities.GraphicalSettings"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Board.VsPlayerGameBoard"
            android:screenOrientation="portrait"
            android:exported="true" />
        <activity android:name=".SettingsActivities.PauseActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".NewGameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SettingsActivities.VolumeSettingsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_volume_settings" />
        <activity android:name=".StartScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>